/* Start Variables */
:root {
  --primary: #7fad39;
  --secondary: #1c1c1c;
  --thirdly: #f5f5f5;
  --fourdly: #6f6f6f;
  --duration: all 0.3s;
  --secondaru-duration: all 0.5s;
}
/* End Variables */

/* Start Global Rules */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Cairo", sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-family: "Cairo", sans-serif;
  color: var(--fourdly);
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

ul,
ol {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small  */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/*---------------------
  Component
-----------------------*/

.special_title {
  text-align: center;
  margin-bottom: 50px;
}

.special_title h2 {
  font-weight: bold;
  position: relative;
}

.special_title h2::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 80px;
  background-color: var(--primary);
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}

/*---------------------
  Start Top Header 
-----------------------*/
.top-header {
  height: 47px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}

.top__header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top__header_left {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.top_header_email_wrapper {
  position: relative;
}
.top_header_email {
  padding-left: 4px;
}
.top_header_email::after {
  position: absolute;
  right: -27px;
  content: "";
  top: 5px;
  background: #222222;
  width: 1px;
  height: 20px;
  opacity: 0.1;
}

.top__header_right {
  display: flex;
  position: relative;
  align-items: center;
  gap: 3rem;
}

.top__header_icons__wrapper {
  position: relative;
  display: flex;
  gap: 1rem;
}

.top__header_icons {
  display: flex;
  gap: 1rem;
}
.top__header_icons i {
  cursor: pointer;
}
.top__header_icons::after {
  position: absolute;
  right: -27px;
  content: "";
  background: #222222;
  width: 1px;
  height: 20px;
  opacity: 0.1;
}

.top__header_language {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.top__header_language ul {
  position: absolute;
  visibility: hidden;
  padding: 8px;
  top: 43px;
  transition: var(--duration);
  background-color: #222222;
  width: 100px;
  z-index: 10;
}
.language_arrow {
  font-size: 11px;
}
.language::after {
  position: absolute;
  right: -27px;
  content: "";
  top: 5px;
  background: #222222;
  width: 1px;
  height: 20px;
  opacity: 0.1;
}
.top__header_language ul a {
  color: #fff;
}

.top__header_language ul li:first-child {
  margin-bottom: 8px;
}

.top__header_language:hover ul {
  top: 25px;
  z-index: 1000 !important;
  visibility: visible;
}

/*---------------------
  hero section 
-----------------------*/

.hero {
  display: flex;
  padding: 1rem 0;
  align-items: center;
}

.hero .slide_bar {
  display: none;
}

.slide_and_bar {
  width: 25%;
}

.hero_navbar {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.hero_nav_ul {
  display: flex;
  gap: 4rem;
}

.hero_nav_link {
  transition: var(--duration);
  color: #000;
  font-weight: bold;
}

.hero_nav_link:hover {
  color: #7fad39;
}

.hero_nav_ul .active {
  color: #7fad39;
}

.hero_nav_pages {
  position: relative;
}
.hero_nav_pages ul {
  top: 43px;
  z-index: 7;
  padding: 5px;
  width: 150px;
  position: absolute;
  border-radius: 5px;
  visibility: hidden;
  transition: var(--duration);
  background-color: #222222;
}

.hero_nav_pages:hover ul {
  top: 25px;
  z-index: 1000 !important;
  visibility: visible;
}

.hero_nav_pages ul a {
  display: block;
  font-weight: 300;
  padding: 8px;
  color: #fff;
  transition: var(--duration);
}
.hero_nav_pages ul a:hover {
  color: #7fad39;
}

/*---------------------
  *hero wishlist 
-----------------------*/
.hero_wishlist {
  display: flex;
  gap: 1rem;
}

.hero_wishlist_wrapper {
  display: flex;
  gap: 1rem;
}

.hero_wishlist_icon_wrapper {
  position: relative;
  display: block;
  color: #000 !important;
}

.hero_wishlist_icon_wrapper span {
  height: 13px;
  width: 13px;
  background: #7fad39;
  font-size: 10px;
  color: #ffffff;
  line-height: 13px;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  z-index: 9;
  right: -12px;
}

/*---------------------
  Main menu style
-----------------------*/

.main_menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.main_menu .menu {
  width: 22%;
}

.main_menu .slider {
  width: 75%;
}

.main_menu .menu_button {
  gap: 1rem;
  display: flex;
  cursor: pointer;
  padding: 10px 25px 10px 20px;
  align-items: center;
  background-color: var(--primary);
  position: relative;
}

.main_menu .menu_button span {
  color: #fff;
  font-weight: bold;
}

.main_menu .main_menu_icon {
  color: #fff;
}

.main_menu .main_menu_icon:last-child {
  position: absolute;
  right: 25px;
  font-size: 13px;
}

.main_menu ul {
  border: 1px solid #ebebeb;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main_menu ul li {
  padding-left: 20px;
  transition: var(--duration);
}

.main_menu ul li:hover {
  background-color: var(--primary);
}
.main_menu ul li a {
  display: block;
  line-height: 39px;
  color: var(--secondary);
  transition: var(--duration);
}

.main_menu ul li:hover a {
  color: #fff;
}

.main_menu_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_menu_search_form {
  width: 70%;
  padding: 1rem;
  position: relative;
  border: 1px solid #ebebeb;
}
.main_menu_search_form span {
  font-weight: bold;
  position: relative;
  padding-left: 1rem;
}

.main_menu_search_form span::after {
  top: 4px;
  width: 1px;
  content: "";
  height: 25px;
  opacity: 0.1;
  right: -60px;
  position: absolute;
  background-color: #000;
}

.main_menu_search_form .main_menu_arrow {
  font-size: 13px;
  padding: 0 2rem;
}

.main_menu_search_form input {
  color: #b2b2b2;
  border: none;
  font-size: 1rem;
  font-family: cairo;
}

.main_menu_search_form input::placeholder {
  color: #b2b2b2;
}

.main_menu_search_form button {
  top: -1px;
  right: 0;
  border: none;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  border: 1px solid var(--primary);
  background-color: var(--primary);
}

.main_menu_search_phone {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.search_phone_icon {
  display: flex;
  color: #000;
  color: var(--primary);
  padding: 1.1rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.search_phone_number {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.search_phone_wrapper span:last-child {
  font-size: 14px;
  color: var(--fourdly);
}

.main_menu_banner {
  height: 400px;
  padding: 1rem 0;
  margin-top: 2rem;
  background-size: cover;
  background-position: top center;
  background-image: url("../img/hero/banner.jpg");
  display: flex;
  align-items: center;
}

.main_menu_banner .fruit {
  color: var(--primary);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
}

.main_menu_banner .main_menu_details {
  padding-left: 75px;
}

.main_menu_details h2 {
  font-size: 46px;
  color: #252525;
  line-height: 52px;
  font-weight: 700;
  margin: 10px 0;
}

.main_menu_details .free_pickup {
  color: var(--fourdly);
  margin-bottom: 35px;
}

.main_menu_details button {
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  padding: 10px 28px 10px;
  background: var(--primary);
}

@media only screen and (max-width: 991px) {
  .top-header {
    display: none;
  }

  .hero {
    flex-direction: column;
  }

  .hero .slide_and_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    cursor: pointer;
  }

  .hero .slide_bar {
    display: block;
  }

  .hero .slide_bar i {
    font-size: 20px;
    border: 1px solid;
    padding: 0.5rem;
  }

  .hero .hero_navbar {
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 24px;
  }

  .hero_nav_ul {
    display: none;
  }

  .hero .hero_wishlist span {
    margin-left: 1rem;
  }

  .hero .hero_wishlist_wrapper div {
    margin-left: 1rem;
  }

  .main_menu {
    flex-direction: column;
    gap: 30px;
  }

  .main_menu .menu {
    width: 100%;
  }

  .main_menu .menu_button,
  .main_menu ul li {
    padding-left: 40px;
  }

  .main_menu .slider {
    width: auto;
  }
}

@media only screen and (max-width: 767px) {
  .main_menu_search {
    flex-direction: column;
    gap: 30px;
  }

  .main_menu_search_form {
    width: 100%;
  }
  .main_menu_search_form span,
  .main_menu_search_form i {
    display: none;
  }
}

@media only screen and (max-width: 476px) {
}

/*---------------------
  Categories
-----------------------*/

.categories .container {
  position: relative;
}
.categories .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 30px;
  position: relative;
}

.categories .content div {
  position: relative;
  height: 270px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.categories .content div:first-child {
  background-image: url(../img/categories/cat-1.jpg);
}

.categories .content div:nth-child(2) {
  background-image: url(../img/categories/cat-2.jpg);
}

.categories .content div:nth-child(3) {
  background-image: url(../img/categories/cat-3.jpg);
}

.categories .content div:nth-child(4) {
  background-image: url(../img/categories/cat-4.jpg);
}

/* .categories .content div:nth-child(5) {
  background-image: url(../img/categories/cat-5.jpg);
} */

.categories .content .item a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--secondary);
  font-weight: bold;
  display: block;
  width: 170px;
  text-align: center;
  padding: 10px 0px;
  background-color: #fff;
}

.categories .angle_left,
.categories .angle_right {
  position: absolute;
  width: 28px;
  height: 68px;
  border: 1px solid #ebebeb;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
  font-size: 13px;
  cursor: pointer;
}

.categories .angle_left {
  left: -30px;
}

.categories .angle_right {
  right: -30px;
}

/*---------------------
  Categories Media Query
-----------------------*/

@media only screen and (max-width: 767px) {
  .categories .angles {
    height: 70px;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 40px;
  }

  .categories .angle_left,
  .categories .angle_right {
    position: relative;
    left: 0;
    right: 0;
  }
}

/*---------------------
  Featured Product
-----------------------*/

.featured_product {
  margin-top: 80px;
  margin-bottom: 40px;
}

.featured_product .product_title {
  margin-bottom: 50px;
}

.featured_product .product_title ul {
  display: flex;
  justify-content: center;
  gap: 1.56rem;
  flex-wrap: wrap;
}

.featured_product .product_title li {
  cursor: pointer;
  font-size: 17px;
}

.featured_product .product_title .active {
  position: relative;
  border-bottom: 2px solid var(--primary);
}

.featured_product .products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  column-gap: 30px;
  row-gap: 50px;
  position: relative;
}

.featured_product .product_content .imgs {
  position: relative;
  height: 270px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.featured_product .img1 {
  background-image: url(../img/featured/feature-1.jpg);
}

.featured_product .img2 {
  background-image: url(../img/featured/feature-2.jpg);
}

.featured_product .img3 {
  background-image: url(../img/featured/feature-3.jpg);
}

.featured_product .img4 {
  background-image: url(../img/featured/feature-4.jpg);
}

.featured_product .img5 {
  background-image: url(../img/featured/feature-5.jpg);
}

.featured_product .img6 {
  background-image: url(../img/featured/feature-6.jpg);
}

.featured_product .img7 {
  background-image: url(../img/featured/feature-7.jpg);
}

.featured_product .img8 {
  background-image: url(../img/featured/feature-8.jpg);
}

.product_content .imgs ul {
  display: flex;
  gap: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
  transition: var(--secondaru-duration);
}

.product_content:hover .imgs ul {
  bottom: 20px;
}

.product_content .imgs ul li a {
  color: var(--secondary);
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ebebeb;
  background: #ffffff;
  display: block;
  border-radius: 50%;
  transition: var(--secondaru-duration);
}

.product_content .imgs ul li a:hover {
  background-color: var(--primary);
}

.product_content .imgs ul li a i {
  transition: var(--secondaru-duration);
}

.product_content .imgs ul li a:hover i {
  color: #fff;
  transform: rotate(360deg);
}

.product_content .product_text {
  text-align: center;
}
.product_content .product_text p {
  margin-top: 15px;
  margin-bottom: 10px;
}
.product_content .product_text span {
  font-weight: bold;
}
